   <!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Sixth Sensor- Super Admin</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="favicon.ico">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- page level plugin styles -->
  <link rel="stylesheet" href="views/vendor/datatables/media/css/jquery.dataTables.css">
  <!-- /page level plugin styles -->

  <!-- build:css({.tmp,app}) styles/app.min.css -->
  <link rel="stylesheet" href="views/vendor/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="views/vendor/perfect-scrollbar/css/perfect-scrollbar.css">
  <link rel="stylesheet" href="views/styles/roboto.css">
  <link rel="stylesheet" href="views/styles/font-awesome.css">
  <link rel="stylesheet" href="views/styles/panel.css">
  <link rel="stylesheet" href="views/styles/feather.css">
  <link rel="stylesheet" href="views/styles/animate.css">
  <link rel="stylesheet" href="views/styles/urban.css">
  <link rel="stylesheet" href="views/styles/urban.skins.css">
   <link rel="stylesheet" href="views/styles/index.css">
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" /> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/angular-wizard@latest/dist/angular-wizard.min.css">
 <!--  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script> -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
 -->
  <!-- endbuild -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.css">

</head>

<body ng-app="SixSense" ng-controller="IndexCtrl">

  <!-- quick launch panel -->
  <!-- <div class="quick-launch-panel">
    <div class="container">
      <div class="quick-launcher-inner">
        <a href="javascript:;" class="close" data-toggle="quick-launch-panel">×</a>
        <div class="css-table-xs">
          <div class="col">
            <a href="app-calendar.html">
              <i class="icon-marquee"></i>
              <span>Calendar</span>
            </a>
          </div>
          <div class="col">
            <a href="app-gallery.html">
              <i class="icon-drop"></i>
              <span>Gallery</span>
            </a>
          </div>
          <div class="col">
            <a href="app-messages.html">
              <i class="icon-mail"></i>
              <span>Messages</span>
            </a>
          </div>
          <div class="col">
            <a href="app-social.html">
              <i class="icon-speech-bubble"></i>
              <span>Social</span>
            </a>
          </div>
          <div class="col">
            <a href="charts-flot.html">
              <i class="icon-pie-graph"></i>
              <span>Analytics</span>
            </a>
          </div>
          <div class="col">
            <a href="javascript:;">
              <i class="icon-esc"></i>
              <span>Documentation</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- /quick launch panel -->

  <div class="app layout-fixed-header">

    <!-- sidebar panel -->
    <div class="sidebar-panel offscreen-left">

      <div class="brand">

        <!-- logo -->
        <div class="brand-logo" ng-show="superAdmin">
          <img src="views/sa.png" height="15" alt="">
        </div>
        <div class="brand-logo"  ng-show="companyAdmin">
          <img src="views/ca.png" height="15" alt="">
        </div>
        <!-- /logo -->

        <!-- toggle small sidebar menu -->
        <!-- <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3" data-toggle="layout-small-menu">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </a> -->
        <!-- /toggle small sidebar menu -->

      </div>

      <!-- main navigation -->
      <nav role="navigation">

        <ul class="nav">

          <!-- dashboard -->
          <li>
            <a href="#!">
              <i class="fa fa-th-large"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <!-- /dashboard -->


          <!-- ECU Type -->
          <li ng-show="superAdmin">
            <a href="#!ecuType">
              <i class="fa fa-connectdevelop"></i>
              <span>System Types</span>
            </a>
          </li>
          <!-- ECU Type -->

          <!-- Vehicle Type -->
          <li ng-show="superAdmin">
            <a href="#!vehicleType">
              <i class="fa fa-bus"></i>
              <span>Vehicle Types</span>
            </a>
          </li>
          <!-- Vehicle Type -->

         

          <!-- ECU Units -->

          <li ng-show="superAdmin">
            <a href="#!ecuUnit">
              <i class="fa fa-sitemap"></i>
              <span>6th Sense Units</span>
            </a>
          </li>

          <!-- Device Units
 -->
          <li ng-show="superAdmin">
            <a href="#!deviceUnit">
              <i class="fa fa-mobile"></i>
              <span>Mobile Units</span>
            </a>
          </li>

          <!--  Company -->
          <li ng-show="superAdmin">
            <a href="#!companyWizard">
              <i class="fa fa-gears"></i>
              <span>Company</span>
            </a>
          </li>
          <!-- Company -->

          <!-- driver -->
          <li ng-show="companyAdmin">
            <a href="#!driver">
              <i class="fa fa-group"></i>
              <span>Drivers</span>
            </a>
          </li>

        <li ng-show="companyAdmin">
            <a href="#!vehicle">
              <i class="fa fa-truck"></i>
              <span>Vehicles</span>
            </a>
          </li>
      <li ng-show="companyAdmin">
            <a href="#!CompanyAdmin/EcuUnits">
              <i class="fa fa-connectdevelop"></i>
              <span>6th Sense Units</span>
            </a>
          </li>
            <li ng-show="companyAdmin">
            <a href="#!CompanyAdmin/DeviceUnits">
              <i class="fa fa-mobile"></i>
              <span>Mobile Units</span>
            </a>
          </li>
            <li ng-show="companyAdmin">
            <a href="#!CompanyAdmin/TripAll">
              <i class="fa fa-location-arrow"></i>
              <span>Trips</span>
            </a>
          </li>

          <li ng-show="companyAdmin">
            <a href="#!CompanyAdmin/fleets">
              <i class="fa fa-bus"></i>
              <span>Fleets</span>
            </a>
          </li>

          <!-- /angular -->

        </ul>
      </nav>
      <!-- /main navigation -->

    </div>
    <!-- /sidebar panel -->

    <!-- content panel -->
    <div class="main-panel">

      <!-- top header -->
      <header class="header navbar">

        <div class="brand visible-xs">
          <!-- toggle offscreen menu -->
          <div class="toggle-offscreen">
            <a href="#" class="hamburger-icon visible-xs" data-toggle="offscreen" data-move="ltr">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>
          <!-- /toggle offscreen menu -->




        </div>

        <ul class="nav navbar-nav hidden-xs">
          <li>
            <p class="navbar-text">

            </p>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right hidden-xs">




          <li>
            <a  data-toggle="dropdown">
              <img src="views/avatar.png" class="header-avatar img-circle ml10" alt="user" title="user">
              <span class="pull-left">{{username}}</span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="javascript:;">Change Password</a>
              </li>
              <li ng-show="companyAdmin">
                <a ng-click="companyFeatures()">Features</a>
              </li>
              <li>
                <a ng-click="logout()">Logout</a>
              </li>
            </ul>

          </li>
          <!-- CHAT ENABLER -->
          <!-- <li>
            <a href="javascript:;" class="hamburger-icon v2" data-toggle="layout-chat-open">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </li> -->
        </ul>
      </header>
      <!-- /top header -->



    </div>


    <!-- /content panel -->
<div class="main-panel">
    <div class="main-content">
<div class="ng-view"></div>
    </div>
</div>


















    <!-- /content panel -->


    <!-- bottom footer -->
    <footer class="content-footer">

      <nav class="footer-right">
        <ul class="nav">


        </ul>
      </nav>

      <nav class="footer-left">
        <ul class="nav">
          <li>
            <a href="javascript:;">Copyright <i class="fa fa-copyright"></i> <span>Sixth Sensor Technology Pvt. Ltd.</span> 2017. All rights reserved</a>
          </li>
        </ul>
      </nav>

    </footer>
    <!-- /bottom footer -->

    <!-- chat -->
    <!-- <div class="chat-panel">
      <div class="chat-inner">
        <div class="chat-users">
          <div class="nav-justified-xs">

            <ul class="nav nav-tabs nav-justified ">
              <li class="active">
                <a href="#chat-list" data-toggle="tab">Chat</a>
              </li>
              <li>
                <a href="#market" data-toggle="tab">Favourites</a>
              </li>
              <li>
                <a href="#activity" data-toggle="tab">Activity</a>
              </li>
            </ul>
          </div>

          <div class="tab-content">

            <div class="tab-pane active" id="chat-list">
              <div class="chat-group">
                <div class="chat-group-header">
                  Favourites
                </div>
                <a href="javascript:;">
                  <span class="status-online"></span>
                  <span>Catherine Moreno</span>
                </a>
                <a href="javascript:;">
                  <span class="status-online"></span>
                  <span>Denise Peterson</span>
                </a>
                <a href="javascript:;">
                  <span class="status-away"></span>
                  <span>Charles Wilson</span>
                </a>
                <a href="javascript:;">
                  <span class="status-away"></span>
                  <span>Melissa Welch</span>
                </a>
                <a href="javascript:;">
                  <span class="status-no-disturb"></span>
                  <span>Vincent Peterson</span>
                </a>
                <a href="javascript:;">
                  <span class="status-offline"></span>
                  <span>Pamela Wood</span>
                </a>
              </div>

              <div class="chat-group">
                <div class="chat-group-header">
                  Online Friends
                </div>
                <a href="javascript:;">
                  <span class="status-online"></span>
                  <span>Tammy Carpenter</span>
                </a>
                <a href="javascript:;">
                  <span class="status-away"></span>
                  <span>Emma Sullivan</span>
                </a>
                <a href="javascript:;">
                  <span class="status-no-disturb"></span>
                  <span>Andrea Brewer</span>
                </a>
                <a href="javascript:;">
                  <span class="status-online"></span>
                  <span>Sean Carpenter</span>
                </a>
              </div>

              <div class="chat-group">
                <div class="chat-group-header">
                  Offline
                </div>
                <a href="javascript:;">
                  <span class="status-offline"></span>
                  <span>Denise Peterson</span>
                </a>
                <a href="javascript:;">
                  <span class="status-offline"></span>
                  <span>Jose Rivera</span>
                </a>
                <a href="javascript:;">
                  <span class="status-offline"></span>
                  <span>Diana Robertson</span>
                </a>
                <a href="javascript:;">
                  <span class="status-offline"></span>
                  <span>William Fields</span>
                </a>
                <a href="javascript:;">
                  <span class="status-offline"></span>
                  <span>Emily Stanley</span>
                </a>
                <a href="javascript:;">
                  <span class="status-offline"></span>
                  <span>Jack Hunt</span>
                </a>
                <a href="javascript:;">
                  <span class="status-offline"></span>
                  <span>Sharon Rice</span>
                </a>
                <a href="javascript:;">
                  <span class="status-offline"></span>
                  <span>Mary Holland</span>
                </a>
                <a href="javascript:;">
                  <span class="status-offline"></span>
                  <span>Diane Hughes</span>
                </a>
                <a href="javascript:;">
                  <span class="status-offline"></span>
                  <span>Steven Smith</span>
                </a>
                <a href="javascript:;">
                  <span class="status-offline"></span>
                  <span>Emily Henderson</span>
                </a>
                <a href="javascript:;">
                  <span class="status-offline"></span>
                  <span>Wayne Kelly</span>
                </a>
                <a href="javascript:;">
                  <span class="status-offline"></span>
                  <span>Jane Garcia</span>
                </a>
                <a href="javascript:;">
                  <span class="status-offline"></span>
                  <span>Jose Jimenez</span>
                </a>
                <a href="javascript:;">
                  <span class="status-offline"></span>
                  <span>Rachel Burton</span>
                </a>
                <a href="javascript:;">
                  <span class="status-offline"></span>
                  <span>Samantha Ruiz</span>
                </a>
              </div>
            </div>

            <div class="tab-pane" id="market">
              <div class="favourite-list">
                <a href="#">
                  <div class="media-left relative">
                    <img class="img-circle avatar avatar-xs" src="images/avatar.jpg" alt="avatar">
                    <div class="status bg-success border-white mr10"></div>
                  </div>
                  <div class="media-body">
                    <span class="block">Catherine Moreno</span>
                    <span class="text-muted">Online</span>
                  </div>
                </a>
                <a href="#">
                  <div class="media-left relative">
                    <img class="img-circle avatar avatar-xs" src="images/face1.jpg" alt="avatar">
                    <div class="status bg-success border-white mr10"></div>
                  </div>
                  <div class="media-body">
                    <span class="block">Denise Peterson</span>
                    <span class="text-muted">Online</span>
                  </div>
                </a>
                <a href="#">
                  <div class="media-left relative">
                    <img class="img-circle avatar avatar-xs" src="images/face3.jpg" alt="avatar">
                    <div class="status bg-default border-white mr10"></div>
                  </div>
                  <div class="media-body">
                    <span class="block">Charles Wilson</span>
                    <span class="text-muted">Busy</span>
                  </div>
                </a>
                <a href="#">
                  <div class="media-left relative">
                    <img class="img-circle avatar avatar-xs" src="images/face4.jpg" alt="avatar">
                    <div class="status bg-danger border-white mr10"></div>
                  </div>
                  <div class="media-body">
                    <span class="block">Melissa Welch</span>
                    <span class="text-muted">Offline</span>
                  </div>
                </a>
                <a href="#">
                  <div class="media-left relative">
                    <img class="img-circle avatar avatar-xs" src="images/face5.jpg" alt="avatar">
                    <div class="status bg-danger border-white mr10"></div>
                  </div>
                  <div class="media-body">
                    <span class="block">Vincent Peterson</span>
                    <span class="text-muted">Offline</span>
                  </div>
                </a>
                <a href="#">
                  <div class="media-left relative">
                    <img class="img-circle avatar avatar-xs" src="images/avatar.jpg" alt="avatar">
                    <div class="status bg-danger border-white mr10"></div>
                  </div>
                  <div class="media-body">
                    <span class="block">Pamela Wood</span>
                    <span class="text-muted">Offline</span>
                  </div>
                </a>
              </div>
            </div>

            <div class="tab-pane" id="activity">
              <ol class="activity-feed">
                <li class="feed-item">
                  <span>Launched a new application</span>
                  <time datetime="2015-01-30 00:00">2 seconds ago</time>
                </li>
                <li class="feed-item inactive">
                  <span>Removed chrome from app list</span>
                  <time datetime="2015-01-20 00:00">Jan 20</time>
                </li>
                <li class="feed-item">
                  <span>Approved new user "Jack hunt"</span>
                  <time datetime="2015-01-02 00:00">Jan 02</time>
                </li>
                <li class="feed-item active">
                  <span>Executed new cron jobs on server with id 67gyu789</span>
                  <time datetime="2014-12-12 00:00">Dec 12</time>
                </li>
                <li class="feed-item">
                  <span class="text">Added paypal to list payment options</span>
                  <time datetime="2014-12-01 00:00">Dec 01</time>
                </li>
                <li class="feed-item">
                  <span>Added 6 new calendar events</span>
                  <time datetime="2014-08-30 00:00">Aug 30</time>
                </li>
              </ol>
            </div>
          </div>

        </div>
        <div class="chat-conversation">

          <div class="chat-header">
            <a class="chat-back" href="javascript:;">
              <i class="fa fa-angle-left"></i>
            </a>
            <div class="chat-header-title">
              Charles Wilson
            </div>
            <a class="chat-right" href="javascript:;">
              <i class="fa fa-circle-thin"></i>
            </a>
          </div>

          <div class="chat-conversation-content">

            <p class="text-center text-muted small text-uppercase bold pb15">
              Yesterday
            </p>

            <div class="chat-conversation-user them">
              <div class="chat-conversation-message">
                <p>Hey.</p>
              </div>
            </div>

            <div class="chat-conversation-user them">
              <div class="chat-conversation-message">
                <p>How are the wife and kids, Taylor?</p>
              </div>
            </div>

            <div class="chat-conversation-user me">
              <div class="chat-conversation-message">
                <p>Pretty good, Samuel.</p>
              </div>
            </div>

            <p class="text-center text-muted small text-uppercase bold pb15">
              Today
            </p>

            <div class="chat-conversation-user them">
              <div class="chat-conversation-message">
                <p>Curabitur blandit tempus porttitor.</p>
              </div>
            </div>

            <div class="chat-conversation-user me">
              <div class="chat-conversation-message">
                <p>Goodnight!</p>
              </div>
            </div>

            <div class="chat-conversation-user them">
              <div class="chat-conversation-message">
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
              </div>
            </div>

          </div>

          <div class="chat-conversation-footer">
            <button class="chat-input-tool">
              <i class="fa fa-camera"></i>
            </button>
            <div class="chat-input" contenteditable=""></div>
            <button class="chat-send">
              <i class="fa fa-paper-plane"></i>
            </button>
          </div>

        </div>
      </div>
    </div> -->
    <!-- /chat -->
  </div>
	<!--<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry,places&ext=.js"></script>-->
 <script src="views/vendor/jquery/dist/jquery.js"></script>
  <script src="views/vendor/bootstrap/dist/js/bootstrap.js"></script>
  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>-->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css" />
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEHtJaj2CmzyXLEclOU6gsY5UeBEOvEc8&language=en"></script>
 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="controllers/directive/dirPagination.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-sanitize.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
  <script src="views/scripts/angular-chart.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/angular-wizard@latest/dist/angular-wizard.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-dropdown-multiselect/1.11.8/angularjs-dropdown-multiselect.min.js"></script>-->



  <!-- build:js({.tmp,app}) scripts/app.min.js -->
  <script src="views/scripts/extentions/modernizr.js"></script>
  <!--<script src="views/vendor/jquery/dist/jquery.js"></script>
  <script src="views/vendor/bootstrap/dist/js/bootstrap.js"></script>-->
  <script src="views/vendor/jquery.easing/jquery.easing.js"></script>
  <script src="views/vendor/fastclick/lib/fastclick.js"></script>
  <script src="views/vendor/onScreen/jquery.onscreen.js"></script>
  <script src="views/vendor/jquery-countTo/jquery.countTo.js"></script>
  <script src="views/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
  <script src="views/scripts/ui/accordion.js"></script>
  <script src="views/scripts/ui/animate.js"></script>
  <script src="views/scripts/ui/link-transition.js"></script>
  <script src="views/scripts/ui/panel-controls.js"></script>
  <script src="views/scripts/ui/preloader.js"></script>
  <script src="views/scripts/ui/toggle.js"></script>
  <script src="views/scripts/urban-constants.js"></script>
  <script src="views/scripts/extentions/lib.js"></script>




  <!-- endbuild -->

  <!-- page level scripts -->
  <script src="views/vendor/datatables/media/js/jquery.dataTables.js"></script>
  <!-- /page level scripts -->

  <!-- controller scripts -->
  <script src="views/scripts/extentions/bootstrap-datatables.js"></script>
  <script src="views/scripts/pages/table-edit.js"></script>
  <!-- /initialize page scripts -->
<script src="controllers/app.js"></script>
<script src="controllers/signIn.js"></script>
<script src="controllers/services/constants.js"></script>
<script src="controllers/directive/directive.js"></script>
<!--<script src="controllers/ctrl1.js"></script>
<script src="controllers/ctrl2.js"></script>-->
<script src="controllers/indexCtrl.js"></script>
<script src="controllers/dashboard.js"></script>
<script src="controllers/vehicleType.js"></script>
<script src="controllers/ecuType.js"></script>
<script src="controllers/ecuUnit.js"></script>
<script src="controllers/deviceUnit.js"></script>
<script src="controllers/companyWizardCtrl.js"></script>
<script src="controllers/companyWizardReadCtrl.js"></script>
<script src="controllers/companyUpdateCtrl.js"></script>
<script src="controllers/driverCtrl.js"></script>
<script src="controllers/vehicle.js"></script>
<script src="controllers/compAdmEcuUnit.js"></script>
<script src="controllers/CompAdmDeviceUnit.js"></script>
<script src="controllers/tripAll.js"></script>
<script src="controllers/tripOne.js"></script>
  <script>
   
</script>

</body>



</html>
