<div class="panel">
   <div class="panel-heading">
     <button class="btn btn-default btn-xs pull-right"   data-toggle="modal" data-target="#addDriver">Create</button>
     <br><br>
     <strong>Fleets </strong>
     <input type="text" placeholder="Search" class="pull-right" ng-model="search">
          <br>
          <br>
<p>Items per page</p>
<select ng-model="pageSize">
  <option value=5>5</option>
  <option value=10>10</option>
  <option value=15>15</option>

</select>
      
   </div>
   <div class="panel-body">
     <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
        <tr class="bold">
        <!-- <td style="width:10%">ID</td> -->
         <td style="width:10%">Fleet Name<i class="fa fa-caret-down pull-right" ng-click="sort('')"></i></td>
         <td style="width:10%">Fleet Description<i class="fa fa-caret-down pull-right" ng-click="sort('')"></i></td>
         <td style="width:10%">Address<i class="fa fa-caret-down pull-right" ng-click="sort('')"></i></td>
        
         <td style="width:10%">License No<i class="fa fa-caret-down pull-right" ng-click="sort('')"></td>
         <td style="width:10%">Edit</td>
         <td style="width:10%">Delete</td>

        </tr>
        <tr dir-paginate=" | filter:search | orderBy: 'done' :reverse | itemsPerPage:pageSize  ">
        <!-- <td style="width:10%">{{v._id}}</td> -->
         <td style="width:10%">{{}}</td>
         <td style="width:10%">{{}}</td>
         <td style="width:10%">{{}}</td>
        
         <td style="width:20%">{{}}</td>
         <td><button class="btn btn-success btn-outline" ng-click=" "  data-toggle="modal" data-target="" >Edit</button></td>
         <td><button class="btn btn-danger" ng-click=" " >X</button></td>
        </tr>
     </table>
          <dir-pagination-controls 
       max-size="5"
       direction-links="true"
       boundary-links="true" > 
    </dir-pagination-controls>  
   </div>
 </div>