
<div class="row" ng-controller="dashboardCtrl">
  <a href="#!ecuType" ng-show="superAdmin">
  <div class="col-sm-6 col-md-4 animated flipInX">
    <div class="widget bg-blue pb30">
      <div class="widget-bg-icon">
        <i class="fa fa-connectdevelop"></i>
      </div>
      <div class="widget-details">
        <p class="block h1 mt0 mb5">{{ecuTypeNumbers}}</p>
        <span>System Types</span>
      </div>
    </div>
  </div>
  </a>
  <a href="#!vehicleType" ng-show="superAdmin">
  <div class="col-sm-6 col-md-4 animated flipInX">
    <div class="widget bg-brown pb30">
      <div class="widget-bg-icon">
        <i class="fa fa-car"></i>
      </div>
      <div class="widget-details">
        <span class="block h1 mt0 mb5">{{vehicleTypeNumbers}}</span>
        <span>Vehicle Types</span>
      </div>
    </div>
  </div>
  </a>
  
  <a href="#!ecuUnit" ng-show="superAdmin">
  <div class="col-sm-6 col-md-4 animated flipInX">
    <div class="widget bg-success pb30">
      <div class="widget-bg-icon">
        <i class="fa fa-sitemap"></i>
      </div>
      <div class="widget-details">
        <span class="block h1 mt0 mb5">{{ecuUnits}} </span>
        <span>6th Sense Units</span>
      </div>
    </div>
  </div>
  </a>
  <a href="#!deviceUnit" ng-show="superAdmin">
  <div class="col-sm-6 col-md-4 animated flipInX">
    <div class="widget bg-cyan pb30">
      <div class="widget-bg-icon">
        <i class="fa fa-mobile"></i>
      </div>
      <div class="widget-details">
        <span class="block h1 mt0 mb5"> {{deviceUnit}}</span>
        <span>Mobile Units</span>
      </div>
    </div>
  </div>
  </a>
  
  <a href="#!companyWizard" ng-show="superAdmin">
  <div class="col-sm-6 col-md-4 animated flipInX">
    <div class="widget bg-danger-light pb30">
      <div class="widget-bg-icon">
        <i class="fa fa-building-o"></i>
      </div>
      <div class="widget-details">
        <span class="block h1 mt0 mb5">{{companyNumbers}}</span>
        <span>Companies</span>
      </div>
    </div>
  </div>
  </a>

<!--company admin tiles-->

<a href="#!driver" ng-show="companyAdmin">
  <div class="col-sm-6 col-md-4 animated flipInX">
    <div class="widget bg-cyan pb30">
      <div class="widget-bg-icon">
        <i class="fa fa-group"></i>
      </div>
      <div class="widget-details">
        <span class="block h1 mt0 mb5"> {{drivers}}</span>
        <span>Drivers</span>
      </div>
    </div>
  </div>
  </a>
<a href="#!vehicle" ng-show="companyAdmin">
  <div class="col-sm-6 col-md-4 animated flipInX">
    <div class="widget bg-danger-light pb30">
      <div class="widget-bg-icon">
        <i class="fa fa-truck"></i>
      </div>
      <div class="widget-details">
        <span class="block h1 mt0 mb5"> {{companyVehicleList}}</span>
        <span>Vehicles</span>
      </div>
    </div>
  </div>
  </a>
  <a href="#!CompanyAdmin/EcuUnits" ng-show="companyAdmin">
  <div class="col-sm-6 col-md-4 animated flipInX">
    <div class="widget bg-blue pb30">
      <div class="widget-bg-icon">
        <i class="fa fa-connectdevelop"></i>
      </div>
      <div class="widget-details">
        <span class="block h1 mt0 mb5"> {{companyEcuList}}</span>
        <span>6th Sense Units</span>
      </div>
    </div>
  </div>
  </a>
<a href="#!CompanyAdmin/DeviceUnits" ng-show="companyAdmin">
  <div class="col-sm-6 col-md-4 animated flipInX">
    <div class="widget bg-brown pb30">
      <div class="widget-bg-icon">
        <i class="fa fa-mobile"></i>
      </div>
      <div class="widget-details">
        <span class="block h1 mt0 mb5"> {{companyDeviceList}}</span>
        <span>Mobile Units</span>
      </div>
    </div>
  </div>
  </a>
<a href="#!CompanyAdmin/TripAll" ng-show="companyAdmin">
  <div class="col-sm-6 col-md-4 animated flipInX">
    <div class="widget bg-success pb30">
      <div class="widget-bg-icon">
        <i class="fa fa-location-arrow"></i>
      </div>
      <div class="widget-details">
        <span class="block h1 mt0 mb5">{{companyTripList}} </span>
        <span>Trips</span>
      </div>
    </div>
  </div>
  </a>


  <!-- piechart -->




<div class="row" ng-show="companyAdmin">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
            <canvas id="pie1" class="chart chart-pie"
              chart-data="data" chart-labels="labels" chart-options="options" chart-colors="backgroundColor">
            </canvas>
        </div>

      <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
         <canvas id="pie2" class="chart chart-pie"
           chart-data="data1" chart-labels="labels1" chart-options="options1" chart-colors="backgroundColor1">
         </canvas>
      </div>

        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
    
            <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover table-condensed responsive mb0" data-sortable>
                    <thead>
                      <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Score</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="r in ranking">
                        <td>{{$index+1}}</td>
                        <td>{{r.name}}</td>
                        <td>{{r.score}}</td>
                        
                      </tr>
                    </tbody> 
                 </table>
            </div>        

        </div> 




      </div>

     </div>
    </div>
  </div>




  <!--<a href="#!CompanyAdmin/tripOne" ng-show="companyAdmin">
  <div class="col-sm-6 col-md-4 animated flipInX">
    <div class="widget bg-success pb30">
      <div class="widget-bg-icon">
        <i class="fa fa-mobile"></i>
      </div>
      <div class="widget-details">
        <span class="block h1 mt0 mb5"> </span>
        <span>Trip</span>
      </div>
    </div>
  </div>
  </a>-->
</div>
