<div class="panel">
   <div class="panel-heading">
     <!--<button class="btn btn-default btn-xs pull-right"   data-toggle="modal" data-target="#addDriver">Create</button>-->
      <strong>All Trips </strong>
      <input type="text" placeholder="Search" class="pull-right" ng-model=search></input>
      <br>
      <br>
<p>Items per page</p>
<select ng-model="pageSize">
  <option value=5>5</option>
  <option value=10>10</option>
  <option value=15>15</option>

</select>
   </div>
   <div class="panel-body">
     <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered" >
        <tr class="bold">
        <!-- <td style="width:10%">ID</td> -->
         <td style="width:10%">Driver Name<i class="fa fa-caret-down pull-right" ng-click=sort('driver.name')></i></td>
         <td style="width:10%">Vehicle No<i class="fa fa-caret-down pull-right" ng-click=sort('vehicle.vehicle_no')></i></td>
         <td style="width:10%">ECU Serial No<i class="fa fa-caret-down pull-right" ng-click=sort('vehicle.ecu_unit.serial_no')></i></td>
        
         <td style="width:10%">Device IMEI<i class="fa fa-caret-down pull-right" ng-click=sort('vehicle.device_unit.imei_no')></i></td>
         <td style="width:10%">Start time<i class="fa fa-caret-down pull-right" ng-click=sort('start_timestamp')></i></td>
         <td style="width:10%">End time<i class="fa fa-caret-down pull-right" ng-click=sort('end_timestamp')></i></td>
          <td style="width:10%">Status<i class="fa fa-caret-down pull-right" ng-click=sort('status')></i></td>
          <td style="width:10%">View</td>
        </tr>
        <tr dir-paginate="t in allTrips | filter:search | orderBy: 'done' : reverse | itemsPerPage:pageSize ">
        <!-- <td style="width:10%">{{v._id}}</td> -->
         <td style="width:10%">{{t.driver.name}}</td> 
         <td style="width:10%">{{t.vehicle.vehicle_no}}</td>
         <td style="width:10%">{{t.vehicle.ecu_unit.serial_no}}</td>
         <td style="width:10%">{{t.vehicle.device_unit.imei_no}}</td>
         <td style="width:20%">{{t.start_timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td style="width:20%">{{t.end_timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td style="width:20%">{{t.status}}</td>
        <td> <button class="btn btn-success btn-outline" ng-click="goToTripDashboard(t._id);"   >View</button></td>
        </tr>
         
     </table>
      <dir-pagination-controls 
       max-size="5"
       direction-links="true"
       boundary-links="true" > 
    </dir-pagination-controls>
          <!--<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
              Previous
          </button> 
                    {{currentPage+1}}/{{ (tripNumber/pageSize)+1 | number :0}}
          <button ng-disabled="currentPage >=(tripNumber/pageSize)-1" ng-click="currentPage=currentPage+1">
              Next
          </button>  -->

   </div>
 </div>